.Card-front {
	padding: 20px;
	margin: 20px;
	border-radius: 10px;
	width: 300px;
	height: 400px;
	box-shadow: 3px 3px 3px #555;
	background-color: #fffff0;
	border: 1px solid #bbb;
}

.question {
	font-size: 20px;
}

.hint {
	font-size: 14px;
}